<header class="header">
  <div class="header-text">
    <div class="header-title">Common Rules</div>
    <div class="header-subtitle">Global rules which should be obeyed for the application.</div>
  </div>
  <div class="header-space">
  </div>
  <div class="header-actions">
  </div>
</header>

<mat-divider class="divider"></mat-divider>

<ol class="rule-list">

  <li><b>Consistency:</b> If you are using an element more than once, it is expected that you use the element in a
    consistent way.
    <ol>
      <li>The look (UI) of the element should be consistent.
      </li>
      <li>The handling (UX) of the element should be consistent.
      </li>
    </ol>
  </li>

  <li><b>Call to action:</b> Give users a clear indication what to do next.</li>

  <li>Offer the user more than one way to find and execute (important) actions.
    <ol>
      <li>For unexperienced or new users offer descriptive texts, symbols, tooltips and other helpful means.
      </li>
      <li>Experienced or power users prefer a fast way to execute actions. Here keyboard shortcuts can be appropriate.
      </li>
    </ol>
  </li>

  <li>Offer users a context sensitive help</li>

  <li>Visual hierarchy
  </li>

</ol>
