<header class="header">
  <div class="header-text">
    <div class="header-title">Error Handling</div>
    <div class="header-subtitle">No system can work without errors. It can be user’s errors or system’s fails. In both
      cases, it’s very important to handle errors in a right way as they are crucial for a good user experience.</div>
  </div>
  <div class="header-space">
  </div>
  <div class="header-actions">
  </div>
</header>

<mat-divider class="divider"></mat-divider>

<ol class="rule-list">

  <li><b>Error message should be clear:</b> The error messages should clearly define what the problem was, why it
    happened, and what to do about it. Think of your error message as a conversation with your user — it should sound
    like they’ve been written for humans. Make sure your error message is polite, understandable, friendly and
    jargon-free.
  </li>

  <li><b>Error message should be helpful:</b> It’s not enough to write that something went wrong. Show the users the way
    how to fix it as soon and easy as possible.
  </li>

</ol>
