<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="title-area">
    <mat-icon class="register-icon">person_add</mat-icon>
    Create New User
  </div>
</h1>

<button class="close-button" mat-icon-button tabindex="-1" [mat-dialog-close]>
  <mat-icon>close</mat-icon>
</button>

<div mat-dialog-content>

  <form [formGroup]="formGroup">

    <div class="form-container">

      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required>
        <button mat-button *ngIf="hasFirstName()" matSuffix mat-icon-button aria-label="Clear"
          (click)="firstNameControl.reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint>The minimum length is 2.</mat-hint>
        <mat-error *ngIf="firstNameControl.invalid">{{getFirstNameError()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required>
        <button mat-button *ngIf="hasLastName()" matSuffix mat-icon-button aria-label="Clear"
          (click)="lastNameControl.reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint>The minimum length is 2.</mat-hint>
        <mat-error *ngIf="lastNameControl.invalid">{{getLastNameError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="colspan-2">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <button mat-button *ngIf="hasEmail()" matSuffix mat-icon-button aria-label="Clear"
          (click)="emailControl.reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint>Use the following form: <b>john.doe@example.com</b></mat-hint>
        <mat-error *ngIf="emailControl.invalid">{{getEmailError()}}</mat-error>
      </mat-form-field>

      <!-- some empty line for error-messages and hints -->
      <div class="empty-space">
      </div>

    </div>

  </form>

</div>

<div mat-dialog-actions>
  <button mat-button color="accent" [mat-dialog-close]>
    <mat-icon>cancel</mat-icon> Cancel
  </button>
  <button mat-button color="primary" (click)="onCreateClick()" [disabled]="!formGroup.valid" [mat-dialog-close]>
    <mat-icon>person_add</mat-icon> Create User
  </button>
</div>
