.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  background: var(--bgr);
  color: var(--light);
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  gap: 0.5rem;
  padding: 1rem;
}

.header-logo {
  /* border: 2px dotted yellow; */
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  height: var(--header-icon-size);
}

.header-text {
  // border: 2px dotted yellow;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.header-title {
  font-size: xx-large;
}

.header-version {
  margin-top: 0.5em;
}

.header-actions {
  text-align: center;
  /* border: 2px dotted yellow; */
}

.header-brand {
  /* border: 2px dotted yellow; */
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-brand img {
  height: var(--header-icon-size);
}

.main {
  flex: 1 1 auto;
  position: relative;
  /* need this to position inner content */
  overflow-y: auto;
  // padding: 1rem;

  display: grid;
  grid-template-columns: auto auto 1fr;

  // border: 4px dotted red;
}

.aside {
  padding: 1rem;
  // background-color: lightblue
}

.rule-area {
  padding: 1rem;
  // border: 4px dotted green;
}

.footer {
  flex: 0 0 auto;
  background: var(--bgr);
  color: var(--light);
  text-align: center;
  /* border: 2px dotted red; */
}
