/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --bgr: rgb(25, 118, 210);
  --header-icon-size: 48px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* get rid of scrollbars */
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-pane.input-dialog {
  position: relative !important;
}

.close-button.mat-icon-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}
