/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --bgr: rgb(25, 118, 210);
  --header-icon-size: 48px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* get rid of scrollbars */
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// ====================================================== //
// =========== Global adjustments for dialogs =========== //
// ====================================================== //
.cdk-overlay-pane.input-dialog {
  position: relative !important;
}

.close-button.mat-icon-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 7px;
  padding-right: 10px;
  line-height: 14px;
  min-width: auto;
}

[mat-dialog-title] {
  margin: -24px -24px 0px -24px !important;
  padding: 10px 24px;
  background: var(--bgr);
  color: var(--light);
  cursor: move;
}
